.display-none {
    display: none;
}

.procedure-title {
    text-align: center;
    // color: darkslategray;
    margin-top: 1rem;
    // margin-bottom: 0.5rem;
}

.procedure-timer {
    text-align: center;
}