.postpromessagebox{
  margin: 10%;
  width:100%;
}

.message{
  margin: 5%;
}


.example-card {
  width:auto;

}

.example-header-image {
  background-image: url('https://source.unsplash.com/c_GmwfHBDzk/200x200');
  background-size: cover;
}
