<!-- <p>postprepaction works!</p> -->
<!-- <div class="postpromessagebox">
<h2 class="mat-dialog-title">Post Procedure suggestions for the patient</h2>
<mat-dialog-content>
  <div class="message" style="margin:10px ;">Dont feed the patients immediately after the scan/procedure</div>
  <div class="message" style="margin:10px ;">Patient can take liquids after 30 mints</div>
  <div class="message" style="margin:10px ;">Patient require IV to be injected before taking food</div>
  <div class="message" style="margin:10px ;">After IV intake, he/she is allowed to take semi solid food items</div>
</mat-dialog-content>
</div> -->

<!-- <mat-dialog-content>
  "skdkjsbdksd"
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-raised-button color="primary" mat-dialog-close tabindex="-1">"slkdhis"</button>
</mat-dialog-actions> -->

<div style="margin-top: 10%;height: auto;">
<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <img mat-card-avatar [src]="patientImage" alt="Patient Icon"> 
    <mat-card-title>Post Procedure suggestions</mat-card-title>
    <mat-card-subtitle>{{patientName}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <!-- <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p> -->

  <div class="message" style="margin:10px ;">1. Dont feed the patients immediately after the scan/procedure</div>
  <div class="message" style="margin:10px ;">2. Patient can take liquids after 30 mints</div>
  <div class="message" style="margin:10px ;">3. Patient require IV to be injected before taking food</div>
  <div class="message" style="margin:10px ;">4. After IV intake, he/she is allowed to take semi solid food items</div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-raised-button style="background-color: green; color: #ffff;">OK</button> -->

  </mat-card-actions>
</mat-card>

</div>

