<h1 style="margin-top: 1rem;">Feedback</h1>
<br/>
<br/>
<br/>
<div class="rating-order-wrp">
    <div class="d-flex rating-list align-items-center">
        <div class="w-20">Communication - Was the information shared during procedure convincing?</div>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating1'"></ngx-star-rating>
        </div>
    </div>

    <div class="d-flex rating-list align-items-center">
        <div class="w-20">Please rate us on the quality of your experience during the procedure</div>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating2'"></ngx-star-rating>
        </div>
    </div>

    <div class="d-flex rating-list align-items-center">
        <div class="w-20">Do you recommend us for others?</div>
        <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating3'"></ngx-star-rating>
        </div>
    </div>
</div>
