.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  letter-spacing: -0.5px;
  color: white;
  border: 1px solid #313b3f;
  width: 25%;
  background-color: #313b3f;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 6px 9px 2px rgb(220 197 197 / 20%);
}
.timer span {
  // font-size: 1em;
  // margin: 0 3px 0 15px;
}
