
<!-- Actual Countdown Timer -->
<ng-container *ngIf="false">
  <div class="timer" *ngIf='hoursToCompletion >= 0 && minutesToCompletion > 0'>
    <!-- <span id="days"> {{ daysToCompletion }} </span>Day(s) -->
    <span id="hours" *ngIf='hoursToCompletion > 0'> {{ hoursToCompletion }} Hrs </span>
    <span id="minutes" *ngIf='minutesToCompletion > 0'> {{ minutesToCompletion }} Min left</span>
    <!-- <span id="seconds"> {{ secondsToCompletion }} </span>Sec -->
    <span> </span>
  </div>
  
  <!-- <ng-container *ngIf="minutesToCompletion == 0">
      Procedure Completed
  </ng-container> -->
</ng-container>

<!-- ************************************************************************************ -->

<!-- Timer info from backend -->
<div class="timer" *ngIf="remainingTime > 0">
  <span> {{ remainingTime }} Min left</span>
</div>



